<!--

td { font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: normal; font-weight: normal; color: #000000}

.title { font-family: Trebuchet MS, Arial, Verdana;	font-size: 14pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #333333}
.subtitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 10pt; font-weight: bold; color: #333333}

A:link { COLOR: #D91D16;font-family: Trebuchet MS, Arial, Verdana;text-decoration: none;font-size: 10pt;font-style: normal;font-weight: bold;}
A:visited { COLOR: #D91D16; font-family: Trebuchet MS, Arial, Verdana; text-decoration: none; font-size: 10pt; font-style: normal; font-weight: bold; }
A:hover { COLOR: #4531AC; font-family: Trebuchet MS, Arial, Verdana; text-decoration: none; font-size: 10pt; font-style: normal; font-weight: bold; }
A:active { COLOR: #4531AC; font-family: Trebuchet MS, Arial, Verdana; text-decoration: none; font-size: 10pt; font-style: normal; font-weight: bold; }

small:link { COLOR: #D91D16;font-family: Trebuchet MS, Arial, Verdana;text-decoration: none;font-size: 7pt;font-style: normal;font-weight: bold;}
small:visited { COLOR: #D91D16; font-family: Trebuchet MS, Arial, Verdana; text-decoration: none; font-size: 7pt; font-style: normal; font-weight: bold; }
small:hover { COLOR: #4531AC; font-family: Trebuchet MS, Arial, Verdana; text-decoration: none; font-size: 7pt; font-style: normal; font-weight: bold; }
small:active { COLOR: #4531AC; font-family: Trebuchet MS, Arial, Verdana; text-decoration: none; font-size: 7pt; font-style: normal; font-weight: bold; }

-->