<style>
	BODY { font-family: Trebuchet MS, Arial, Verdana; font-size: 8pt; color: black; }
	TD { font-family: Trebuchet MS, Arial, Verdana; font-size: 8pt; color: black; }
	P { font-family: Trebuchet MS, Arial, Verdana; font-size: 8pt; color: black; }
	LI { font-family: Trebuchet MS, Arial, Verdana; font-size: 8pt; color: black; }
	UL { font-family: Trebuchet MS, Arial, Verdana; font-size: 8pt; color: black; }
	
	
	A { 	
		COLOR: #336699;
		FONT-FAMILY: Trebuchet MS, Arial, Verdana;
		TEXT-DECORATION: none;
		font-style: normal;
	}
	
	A:visited { 
		COLOR: #336699;
		FONT-FAMILY: Trebuchet MS, Arial, Verdana;
		TEXT-DECORATION: none;
		font-style: normal;
	}
	A:hover {
		COLOR: Red;
		FONT-FAMILY: Trebuchet MS, Arial, Verdana;
		TEXT-DECORATION: none;
		font-style: normal;
	}

	A:active {
		COLOR: #336699;
		FONT-FAMILY: Trebuchet MS, Arial, Verdana;
		TEXT-DECORATION: none;
		font-style: normal;
	}

	.TabTitle {	font-family: Trebuchet MS, Arial, Verdana;	font-size: 12pt; font-style: normal; line-height: 16pt; font-weight: bold; color: #0D2F0A;	}
	
	.help { COLOR: #cc0000; FONT-FAMILY: Trebuchet MS, Arial, Verdana;	TEXT-DECORATION: none;	font-style: normal;}
	.help:visited { COLOR: #cc0000; FONT-FAMILY: Trebuchet MS, Arial, Verdana; TEXT-DECORATION: none; font-style: normal;}
	.help:hover {	COLOR: #ff3300;	FONT-FAMILY: Trebuchet MS, Arial, Verdana;	TEXT-DECORATION: none;	font-style: normal;	}
	.help:active {	COLOR: #cc0000;	FONT-FAMILY: Trebuchet MS, Arial, Verdana;	TEXT-DECORATION: none;	font-style: normal;}
	
	.bodyStyle { background-repeat: no-repeat; background-image: url("/Leadtracker2.0/media/images/demo_bgr.gif"); }
	.title { font-size: 16pt; }
	.subtitle { font-size: 14pt; font-weight: bold; }
	.footnote { font-size: 8pt; font-weight: normal }

	.NoResults { font-size: 8pt; font-style: italic; }

	.statusMessage { font-weight: bold; font-size: 12pt; font-style: italic; }
	.StdFormLabel { font-weight: bold; font-size: 8pt; text-align: right; vertical-align: middle; }
	.StdFormField { font-size: 9pt; }
	.StdDropDown { font-size: 9pt; background-color: #DBDED5;}
	
	.FormHeading { font-weight: bold; font-size: 12pt; color: #003366; line-height: 16pt;}
	
	.ReportHeaderCell { text-decoration: none; font-size: 9pt; background-color: #6E8D88; color: white; text-align:center; }
	.ReportHeaderCell:hover { text-decoration: underline; color: white; }
	.ReportHeaderCell:visited { text-decoration: none; color: white; }
	.ReportHeaderCell:active { text-decoration: underline; color: white; }	
	.ReportCell1 { text-decoration: none; font-size: 8pt; text-align:center; background-color: #FFFFFF; }
	.ReportCell1:hover { text-decoration: underline; }
	.ReportCell2 { text-decoration: none; font-size: 8pt; background-color: #DBDED5; text-align:center; }
	.ReportCell2:hover { text-decoration: underline; }
	.ReportSummary { font-size: 8pt; }
	.ReportCell3 { text-decoration: none; font-size: 8pt; background-color: #EAEAEA; }
	.ReportCell4 { text-decoration: none; font-size: 8pt; text-align:right; background-color: #DBDED5; }
	.ReportCell4:hover { text-decoration: underline; }
	.ReportCell5 { text-decoration: none; font-size: 8pt; background-color: #FFFFFF; text-align:right; }
	.ReportCell5:hover { text-decoration: underline; }
	.PageHeaderCell { text-decoration: none; font-size: 9pt; background-color: #6E8D88; color: white; text-align:right; }
	.PageHeaderCell:hover { text-decoration: underline; color: white; }
	.PageHeaderCell:visited { text-decoration: none; color: white; }
	.PageHeaderCell:active { text-decoration: underline; color: white; }	
	

	.SearchFormCell { background-color: #EAEAEA; }

	.PhoneNumberSummaryTable { padding: 4px; }
	.Required { font-size : xx-small; color: red; }
	.CreateNew { font-size: 8pt; font-weight: normal; cursor: hand;}
	
	.pagehead { font-family : FONT-WEIGHT: bold; FONT-SIZE: large }
	.tblHdr { FONT-WEIGHT: bold; FONT-SIZE: x-small; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal }

	.MonthView_Calendar {
		font-size: 9pt;
		border: 1px solid #DADADA;
		border-spacing: 0pt;
		width: 100%;

	}

	.MonthView_CalendarMini {
		font-size: 8pt;
		border: 1px #DADADA;
		border-spacing: 3pt;
		width: 170px;
		height: 150px;

	}

	.WeekView_Calendar {
		font-size: 8pt;
		border: 2px solid #DADADA;
		border-spacing: 0pt;
		width: 100%;
	}

	.WeekView_Day1 {
		background-color: White;
		border: 2px solid #DADADA;
	}

	.WeekView_Day2 {
		background-color: #EAEAEA;
		border: 2px solid #DADADA;
	}

	.WeekView_Day1Current {
		background-color: White;
		border: 2px solid #FF9933;
	}

	.WeekView_Day2Current {
		background-color: #EAEAEA;
		border: 2px solid #FF9933;
	}

	.WeekView_Day1Selected {
		background-color: LightYellow;
		border: 2px solid black;
	}

	.WeekView_Day2Selected {
		background-color: LightYellow;
		border: 2px solid black;
	}

	.WeekView_Day1SelectedCurrent {
		background-color: LightYellow;
		border: 2px solid #FF9933;
	}

	.WeekView_Day2SelectedCurrent {
		background-color: LightYellow;
		border: 2px solid #FF9933;
	}

	.WeekView_EventDate {
		font-size: 9pt;
		font-weight: bold;
	}

	.WeekView_EventTime { 
		font-size: 8pt; 
		font-weight: bold; 
	}
	
	.WeekView_EventDescription {
		font-style: italic;

	}
	
	.WeekView_EventDetails {
		font-style: normal;
	}

	.WeekView_NoEventsFound {
		font-size: 8pt;
		font-style: normal;
	}

	.MonthView_DayHeader, .MonthView_DayHeaderMini {
		font: bold;
		background-color: #7D92AA;
		border: 0px;
		color: white;
		height: 2px;
		text-align: center;
		height: 16%;
	}

	.MonthView_DayEmpty {
		vertical-align: top;
		border: 1px solid black;
		width: 14%;
		height: 100px;
	}

	.MonthView_DayCurrent {
		vertical-align: top;
		border: 2px solid #FF9933;
		border-spacing: 0pt;
		width: 14%;
		height: 100px;
	}

	.MonthView_DaySelected {
		vertical-align: top;
		border: 1px solid black;
		background-color: #EAEAEA;
		width: 14%;
		height: 100px;
	}

	.MonthView_DayCurrentSelected {
		vertical-align: top;
		border: 2px solid #FF9933;
		border-spacing: 0pt;
		background-color: #EAEAEA;
		width: 14%;
		height: 100px;
	}

	.MonthView_DayEmptyMini {
		vertical-align: top;
		border: 1px solid #DADADA;
		width: 14%;
		height: 16%;
	}

	.MonthView_DayCurrentMini {
		vertical-align: top;
		border: 2px solid #FF9933;
		border-spacing: 0pt;
		width: 14%;
		height: 16%;
	}

	.MonthView_DaySelectedMini {
		vertical-align: top;
		border: 1px solid #DADADA;
		background-color: #EAEAEA;
		width: 14%;
		height: 16%;
	}

	.MonthView_DayCurrentSelectedMini {
		vertical-align: top;
		border: 2px solid #FF9933;
		border-spacing: 0pt;
		background-color: #EAEAEA;
		width: 14%;
		height: 16%;
	}

	.MonthView_EventDescription {
		font-size: 8pt;
	}

	.MiniView_Filled { 
		font-weight: bold;
	}

	.MonthView_Footnote {
		font-size: 7pt;
		font-style: italic;
	}

	.MonthView_SummaryHeader {
	}

	.DayView_SummaryHeader {
		text-align: left;
		background-color: #7D92AA;
		color: white;
		border: 2px solid #DADADA;
		padding: 3px;
	}
	
	.DayView_Calendar {
		text-align: left;
		background-color: #FFFFFF;
		border: 1px solid #DADADA;
		padding: 3px;
		
	}

	.DayView_SummaryHeader_DayName, .DayViewSummaryHeader_Date {
		font-size: 10pt;
		font-weight: bold;
	}

	.DayView_ExceptionTimeBlock {
		font-size: 9pt;
		background-color: #ccffcc;
	}

	.DayView_ExceptionExplanation {
		font-style: italic;
	}

	.DayView_TimeBlock1 {
		width: 650px;
		height: 20px;
		vertical-align: top;
		border: 2px solid #DADADA;
		padding: 3px;

	}

	.DayView_TimeBlock2 {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: #EAEAEA;
		border: 2px solid #DADADA;
		padding: 3px;

	}

	.DayView_TimeBlock1Selected {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: LightYellow;
		border: 2px solid #DADADA;

	}

	.DayView_TimeBlock2Selected {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: LightYellow;
		border: 2px solid #DADADA;

	}

	.DayView_TimeBlock1Current {
		width: 650%;
		height: 20px;
		vertical-align: top;
		border: 2px solid #FF9933;

	}

	.DayView_TimeBlock2Current {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: #EAEAEA;
		border: 2px solid #FF9933;

	}
	.DayView_TimeBlock1SelectedCurrent {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: LightYellow;
		border: 2px solid #FF9933;

	}

	.DayView_TimeBlock2SelectedCurrent {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: LightYellow;
		border: 2px solid #FF9933;

	}

	.DayView_EventTime {
		font-weight: bold;
		text-decoration: none;
	}

	.DayView_EventDescription {
		font-weight: normal;
		text-decoration: none;
	}

	.DayView_EventDetails {
		font-weight: normal;
		text-decoration: none;
	}

	.DayView_BlockTime {
		font-size: 12pt;
		font-weight: bold;
		text-decoration: none;
	}
	.nav {
		font-size: 8pt;
		font-weight: bold;
		text-decoration: none;
		color: #FFFFFF;
	}
	.nav:visited {
		font-size: 8pt;
		font-weight: bold;
		text-decoration: none;
		color: #FFFFFF;
	}
	.nav:active {
		font-size: 8pt;
		font-weight: bold;
		text-decoration: none;
		color: #FFFFFF;
	}
	.nav:hover {
		font-size: 8pt;
		font-weight: bold;
		text-decoration: none;
		color: #FFFFFF;
	}
	.Completed {
		text-decoration: line-through;
	}

	.RowHidden {visibility: hidden; display: none; }
	.RowVisible {visibility: visible; display:run-in;}
	.Loading{font-size: 14pt; font-weight: bold; font-family: Trebuchet MS, Arial, Verdana; }
	.HelpSubSection	{ font-weight: bold; text-decoration: underline; font-size: 8pt; }
</style>