<style>
BODY { font-family: Trebuchet MS, Arial, Verdana; font-size: 8pt; color: black; }
TD   { font-family: Trebuchet MS, Arial, Verdana; font-size: 8pt; color: black; }
A { COLOR: #336699; FONT-STYLE: BOLD; TEXT-DECORATION: NONE }
A:hover { COLOR: Red; FONT-STYLE: BOLD }


.bold { FONT-WEIGHT: bold; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal;  }
.boldW { FONT-WEIGHT: bold; font-size: 8pt; COLOR: white; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal;  }

.FormRegular {  FONT-SIZE: x-small }
.FormTiny { font-size: 8pt }

.Header2 {	font-family: Trebuchet MS, Arial, Verdana;	font-size: 12pt; font-style: normal; line-height: 16pt; font-weight: bold; color: #0D2F0A;	}
	

.day { FONT-WEIGHT: normal; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; BACKGROUND-COLOR: LightSteelBlue; TEXT-ALIGN: right }
.day_event { FONT-WEIGHT: bold; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; BACKGROUND-COLOR: AliceBlue; TEXT-ALIGN: right }
.date { FONT-WEIGHT: normal; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; BACKGROUND-COLOR: AliceBlue; TEXT-ALIGN: right }
.fade { FONT-WEIGHT: normal; font-size: 8pt; COLOR: Silver; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; BACKGROUND-COLOR: AliceBlue; TEXT-ALIGN: right }

.week { FONT-WEIGHT: bold; font-size: 8pt; COLOR: white; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; BACKGROUND-COLOR: SteelBlue; TEXT-ALIGN: left }
.wk_title { FONT-WEIGHT: bold; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; BACKGROUND-COLOR: LightSteelBlue; TEXT-ALIGN: left }
.title { font-family: Trebuchet MS, Arial, Verdana;	font-size: 14pt; font-style: normal; line-height: 14pt; font-weight: bold; color: #333333}
.desc { FONT-WEIGHT: normal; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; BACKGROUND-COLOR: AliceBlue; TEXT-ALIGN: left }
.desc1 { FONT-WEIGHT: normal; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; BACKGROUND-COLOR: #eaeaea; TEXT-ALIGN: left }
.italic { FONT-WEIGHT: normal; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-VARIANT: normal; TEXT-ALIGN: left }

.event_header { FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: SteelBlue; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-ALIGN: left }
.event_title { FONT-WEIGHT: bold; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-ALIGN: left }
.event { FONT-WEIGHT: normal; font-size: 8pt; COLOR: black; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-ALIGN: left }

.bigtitle { FONT-WEIGHT: bold; FONT-SIZE: large; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "Trebuchet MS", Verdana, Arial }

</style> 