<style>
<!--

body { font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 13pt; font-weight: normal; color: #333333}
td { font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 13pt; font-weight: normal; color: #333333}
p { font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 13pt; font-weight: normal; color: #333333}
li { font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 13pt; font-weight: normal; color: #333333}
ul { font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 13pt; font-weight: normal; color: #333333}

.title { font-family: Trebuchet MS, Arial, Verdana;	font-size: 14pt; font-style: normal; line-height: 14pt; font-weight: bold; color: #333333}
.subtitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #4380BC}

.bodyStyle { background-repeat: no-repeat; background-image: url("/Leadtracker2.0/media/images/demo_bgr.gif"); }
.footnote { font-size: 8pt; font-weight: normal }
.required { color: #CC3300; font-size: 8pt; font-weight: normal }

.ActiveTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #6099D2; }
.PendingTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #F37F33; }
.ArchivedTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #5CB352; }

.viewTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #FF8834; }
.createTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #51A300; }
.optionsTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #6962E6; }

A { color: #336699; font-family: Trebuchet MS, Arial, Verdana; TEXT-DECORATION: none; font-style: normal; }	
A:visited { color: #336699; font-family: Trebuchet MS, Arial, Verdana; TEXT-DECORATION: none; font-style: normal; }
A:hover { color: #F8783A; font-family: Trebuchet MS, Arial, Verdana; TEXT-DECORATION: none; font-style: normal;	}
A:active { color: #F8783A; font-family: Trebuchet MS, Arial, Verdana; TEXT-DECORATION: none; font-style: normal; }

.itemBorder { border: 1px solid;  color: #861E1D;}
.itemText { color: #FFFFFF; font-family: Verdana, Arial, Geneva,  Helvetica, sans-serif; text-decoration: none; font-size: 8pt; font-style: normal; font-weight: normal; line-height: 12pt; }
.itemHover { color: #FFFFFF; font-family: Verdana, Arial, Geneva,  Helvetica, sans-serif; text-decoration: none; font-size: 8pt; font-style: normal; font-weight: normal; line-height: 12pt; }

.menu { color: #FFFFCD; font-family : Verdana, Arial, Geneva,  Helvetica, sans-serif; text-decoration : none;  font-size : 8pt; font-weight: normal; line-height: 12pt;}
.menu:hover { color: #FFFFCD; font-family : Verdana, Arial, Geneva,  Helvetica, sans-serif; text-decoration : none;  font-size : 8pt; font-weight: normal; line-height: 12pt;}
.menu:link { color: #FFFFCD; font-family : Verdana, Arial, Geneva,  Helvetica, sans-serif; text-decoration : none;  font-size : 8pt; font-weight: normal; line-height: 12pt;}
.menu:active { color: #FFFFCD; font-family : Verdana, Arial, Geneva,  Helvetica, sans-serif; text-decoration : none;  font-size : 8pt; font-weight: normal; line-height: 12pt;}

.nav { font-size: 10pt;  font-weight: bold; text-decoration: none; color: #FFFFFF; }
.nav:visited { 	font-size: 10pt; font-weight: bold; text-decoration: none; color: #FFFFFF; }
.nav:active { font-size: 10pt; font-weight: bold; text-decoration: none; color: #FFFFFF; }
.nav:hover { font-size: 10pt; font-weight: bold; text-decoration: none; color: #FFFFFF; }

.cmNav { color: #4A84BD; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }	
.cmNav:visited { color: #4A84BD; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }
.cmNav:hover { color: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold;	}
.cmNav:active { color: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }

.inventoryNav { color: #4A84BD; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }	
.inventoryNav:visited { color: #4A84BD; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }
.inventoryNav:hover { color: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold;	}
.inventoryNav:active { color: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }

.adNav { color: #4F7DD4; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }	
.adNav:visited { color: #4F7DD4; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }
.adNav:hover { color: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold;	}
.adNav:active { color: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }

.calendarNav { color: #4F7DD4; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }	
.calendarNav:visited { color: #4F7DD4; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }
.calendarNav:hover { color: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold;	}
.calendarNav:active { color: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }

.couponNav { COLOR: #4F7DD4; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }	
.couponNav:visited { COLOR: #4F7DD4; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }
.couponNav:hover { COLOR: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold;	}
.couponNav:active { COLOR: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }

.formManagerNav { COLOR: #4F7DD4; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }	
.formManagerNav:visited { COLOR: #4F7DD4; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }
.formManagerNav:hover { COLOR: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold;	}
.formManagerNav:active { COLOR: #FF9F49; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }

.back { color: #F37F33; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }	
.back:visited { color: #F37F33; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }
.back:hover { color: #F8A13A; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold;	}
.back:active { color: #F8783A; font-family: Trebuchet MS, Arial, Verdana; font-size: 10pt; font-style: normal; line-height: 10pt; font-weight: bold; }

.loading{font-size: 14pt; line-height: 14pt; font-weight: bold; font-family: Trebuchet MS, Arial, Verdana; }
.completed { text-decoration: line-through; }

.rowHidden {visibility: hidden; display: none; }
.rowVisible {visibility: visible; display:run-in;}

.reportHeaderColor1 { background-color: #6099D2; }
.reportHeaderColor1b { background-color: #94C0EC; }
.reportHeaderColor2 { background-color: #4A84BD;}

.reportHeaderText { font-size: 10pt; line-height: 10pt; color: white; font-weight: bold; text-align:center; text-decoration: none; }
.reportHeaderTextBlack { font-size: 10pt; line-height: 10pt; color: black; font-weight: bold; text-align:center; text-decoration: none; }

.row1 { background-color: #EAEAEA; }
.row2 { background-color: #FFFFFF; }

.rowText { font-size: 8pt; line-height: 12pt; text-decoration: none; }
.rowText: hover { text-decoration: none; }

.labelText { font-size: 8pt; line-height: 12pt; font-weight: normal; text-decoration: none; }
.labelText: hover { text-decoration: none; }

.elementText { font-size: 8pt; line-height: 12pt; font-weight: normal; text-decoration: none; }
.elementText: hover { text-decoration: none; }

.day { font-weight: normal; font-size: 8pt; color: black; line-height: normal; font-style: normal; font-variant: normal; background-color: LightSteelBlue; text-align: right }
.day_event { font-weight: bold; font-size: 8pt; color: black; line-height: normal; font-style: normal; font-variant: normal; background-color: AliceBlue; text-align: right }
.date { font-weight: normal; font-size: 8pt; color: black; line-height: normal; font-style: normal; font-variant: normal; background-color: AliceBlue; text-align: right }
.fade { font-weight: normal; font-size: 8pt; color: Silver; line-height: normal; font-style: normal; font-variant: normal; background-color: AliceBlue; text-align: right }

.week { font-weight: bold; font-size: 8pt; color: white; line-height: normal; font-style: normal; font-variant: normal; background-color: SteelBlue; text-align: left }
.wk_title { font-weight: bold; font-size: 8pt; color: black; line-height: normal; font-style: normal; font-variant: normal; background-color: LightSteelBlue; text-align: left }
.title { font-family: Trebuchet MS, Arial, Verdana; font-size: 14pt; font-style: normal; line-height: 14pt; font-weight: bold; color: #333333}
.desc { font-weight: normal; font-size: 8pt; color: black; line-height: normal; font-style: normal; font-variant: normal; background-color: AliceBlue; text-align: left }
.desc1 { font-weight: normal; font-size: 8pt; color: black; line-height: normal; font-style: normal; font-variant: normal; background-color: #eaeaea; text-align: left }
.italic { font-weight: normal; font-size: 8pt; color: black; line-height: normal; font-style: italic; font-variant: normal; text-align: left }

.event_header { font-weight: bold; font-size: small; color: Blue; line-height: normal; font-style: normal; font-variant: normal; text-align: left }
.event_title { font-weight: bold; font-size: 8pt; color: black; line-height: normal; font-style: normal; font-variant: normal; text-align: left }
.event { font-weight: normal; font-size: 8pt; color: black; line-height: normal; font-style: normal; font-variant: normal; text-align: left }

.bigtitle { font-weight: bold; font-size: large; color: #000000; line-height: normal; font-style: normal; font-family: "Trebuchet MS", Verdana, Arial }
.smallText { font-size: 8pt; color: #000000; font-style: normal; font-family: "Trebuchet MS", Verdana, Arial }

.cpnBckFuschia	{ background-color: #FFDBFA; }
.cpnBckPink		{ background-color: #FFE4E4; }
.cpnBckGold		{ background-color: #FFD340; }
.cpnBckCream	{ background-color: #FBFAE6; }
.cpnBckGray		{ background-color: #E4E4E4; }
.cpnBckTeal		{ background-color: #CCE5E5; }
.cpnBckLime		{ background-color: #B9FFB7; }
.cpnBckBlue		{ background-color: #99CCFF; }
.cpnBckViolet	{ background-color: #D7D7E7; }
.cpnBckPurple	{ background-color: #B994F6; }
.cpnBckYellow	{ background-color: #FFFFCC; }
.cpnBckTan		{ background-color: #D8D2B2; }
-->
</style>