	.MonthView_Calendar {
		font-size: 9pt;
		border: 1px solid #DADADA;
		border-spacing: 0pt;
		width: 100%;

	}

	.MonthView_CalendarWrapper {
		background-color: #cccccc; /* #7d8ba8; */
	}

	.MonthView_CalendarMini {
		font-size: 8pt;
		/* border: #000000; //#DADADA; */
		/* border-color: #000000; */
		border-spacing: 2pt;
		width: 170px;
		height: 150px;

	}

	.WeekView_Calendar {
		font-size: 8pt;
		border: 2px solid #DADADA;
		border-spacing: 0pt;
		width: 100%;
	}

	.WeekView_Day1 {
		background-color: White;
		border: 2px solid #DADADA;
	}

	.WeekView_Day2 {
		background-color: #EAEAEA;
		border: 2px solid #DADADA;
	}

	.WeekView_Day1Current {
		background-color: White;
		border: 2px solid #FF9933;
	}

	.WeekView_Day2Current {
		background-color: #EAEAEA;
		border: 2px solid #FF9933;
	}

	.WeekView_Day1Selected {
		background-color: LightYellow;
		border: 2px solid black;
	}

	.WeekView_Day2Selected {
		background-color: LightYellow;
		border: 2px solid black;
	}

	.WeekView_Day1SelectedCurrent {
		background-color: LightYellow;
		border: 2px solid #FF9933;
	}

	.WeekView_Day2SelectedCurrent {
		background-color: LightYellow;
		border: 2px solid #FF9933;
	}

	.WeekView_EventDate {
		font-size: 9pt;
		font-weight: bold;
	}

	.WeekView_EventTime { 
		font-size: 8pt; 
		font-weight: bold; 
	}
	
	.WeekView_EventDescription {
		font-style: italic;

	}
	
	.WeekView_EventDetails {
		font-style: normal;
	}

	.WeekView_NoEventsFound {
		font-size: 8pt;
		font-style: normal;
	}

	.MonthView_DayHeader, .MonthView_DayHeaderMini, .MonthView_DayHeaderMini:link, .MonthView_DayHeaderMini:active,  .MonthView_DayHeaderMini:visited, .MonthView_DayHeaderMini:hover{
		font-weight: bold;
		/* background-color: #8a99b6; */
		/* border: 1px #7d8ba8; */
		color: black;
		height: 2px;
		text-align: center;
		height: 16%;
		text-decoration: none;
	}

	.MonthView_DayEmpty {
		vertical-align: top;
		border: 1px solid black;
		background-color: #000000;
		width: 100px;
		height: 100px;
	}

	.MonthView_DayCurrent {
		vertical-align: top;
		border: 2px solid #FF9933;
		border-spacing: 0pt;
		width: 100px;
		height: 100px;
	}

	.MonthView_DaySelected {
		vertical-align: top;
		border: 1px solid black;
		background-color: #EAEAEA;
		width: 100px;
		height: 100px;
	}

	.MonthView_DayCurrentSelected {
		vertical-align: top;
		border: 2px solid #000000; /* #336666; */
		border-spacing: 0pt;
		background-color: #EAEAEA;
		width: 100px;
		height: 100px;
	}

	.MonthView_DayEmptyMini {
		vertical-align: top;
		border: 1px solid #7d8ba8; /* #cccccc; //#8a99b6; //#D8CBAA; */
		background-color: #ffffff;
		width: 100px;
		height: 16%;
	}

	.MonthView_DayEventMini {
		vertical-align: top;
		border: 1px solid #7d8ba8; /* #D8CBAA; */
		background-color: #cccccc; /* #ccffff; */
		width: 100px;
		height: 16%;
	}

	.MonthView_DayCurrentMini {
		vertical-align: top;
		border: 2px solid #FF9933;
		border-spacing: 0pt;
		background-color: #ffffff;
		width: 100px;
		height: 16%;
	}

	.MonthView_DaySelectedMini {
		vertical-align: top;
		border: 1px solid #D8CBAA;
		background-color: #EAEAEA;
		width: 100px;
		height: 16%;
	}

	.MonthView_DayCurrentSelectedMini {
		vertical-align: top;
		border: 2px solid #FF9933;
		border-spacing: 0pt;
		background-color: #EAEAEA;
		width: 100px;
		height: 16%;
	}

	.MonthView_DayCurrentSelectedEventMini {
		vertical-align: top;
		border: 2px solid #FF9933;
		border-spacing: 0pt;
		background-color: #000000; /* #ccffff; */
		width: 100px;
		height: 16%;
	}

	.MonthView_EventDescription {
		font-size: 8pt;
	}

	.MiniView_Filled { 
		font-weight: bold;
	}

	.MonthView_Footnote {
		font-size: 7pt;
		font-style: italic;
	}

	.MonthView_SummaryHeader {
	}

	.DayView_SummaryHeader {
		text-align: left;
		background-color: #eeeeee; /* #D8CBAA; */
		color: black;
		border: 1px solid #7d8ba8; /* 2px solid #D8CBAA; */
		padding: 5px;
	}
	
	.DayView_Calendar {
		text-align: left;
		background-color: #FFFFFF;
		/* border: 1px solid #D8CBAA; */
		padding: 3px;
		
	}

	.DayView_SummaryHeader_DayName, .DayViewSummaryHeader_Date {
		font-size: 9pt;
		font-weight: bold;
	}

	.DayView_ExceptionTimeBlock {
		font-size: 9pt;
		background-color: white;
/* 
		width: 650px;
		height: 20px;
		vertical-align: top;
		border: 1px solid #7d8ba8; /* #D8CBAA; */
		padding: 3px;
*/
	}

	.DayView_ExceptionExplanation {
		font-style: italic;
	}

	.DayView_TimeBlock1 {
		width: 650px;
		height: 20px;
		vertical-align: top;
		border: 1px solid #7d8ba8; /* #D8CBAA; */
		padding: 5px;
	}

	.DayView_TimeBlock2 {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: #eeeeee; /* #EAE3D3; */
		border: 1px solid #7d8ba8; /* #D8CBAA; */
		padding: 5px;
	}

	.DayView_TimeBlock1Selected {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: LightYellow;
		border: 2px solid #DADADA;
	}

	.DayView_TimeBlock2Selected {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: LightYellow;
		border: 2px solid #DADADA;

	}

	.DayView_TimeBlock1Current {
		width: 650%;
		height: 20px;
		vertical-align: top;
		border: 2px solid #FF9933;

	}

	.DayView_TimeBlock2Current {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: #EAE3D3;
		border: 2px solid #FF9933;

	}
	.DayView_TimeBlock1SelectedCurrent {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: LightYellow;
		border: 2px solid #FF9933;

	}

	.DayView_TimeBlock2SelectedCurrent {
		width: 650px;
		height: 20px;
		vertical-align: top;
		background-color: LightYellow;
		border: 2px solid #FF9933;

	}

	.DayView_EventTime {
		font-weight: bold;
		text-decoration: none;
	}

	.DayView_EventDescription {
		font-weight: normal;
		text-decoration: none;
	}

	.DayView_EventDetails {
		font-weight: normal;
		text-decoration: none;
	}

	.DayView_BlockTime {
		font-size: 9pt;
		font-weight: normal;
		text-decoration: none;
	}
