<style>

	BODY { font-family : Arial, Verdana, Geneva, Helvetica, sans-serif; font-size : 9pt; color: #000000;  font-weight : normal;}
	TD { font-family : Arial, Verdana, Geneva, Helvetica, sans-serif; font-size : 9pt; color: #000000; font-weight : normal;}
	/* A { color : #FF6600; text-decoration : none; } */
	A { color: #3366CC; text-decoration: none; }
	A:hover { color : #3366CC; text-decoration : underline; }
	B { font-family : Arial, Verdana, Geneva, Helvetica, sans-serif; font-size : 9pt; font-weight: bold; color: #000000; }

/*
BODY { font-family: Trebuchet MS, Arial, Verdana; font-size: 8pt; color: black; }
TD   { font-family: Trebuchet MS, Arial, Verdana; font-size: 8pt; color: black; }
A { COLOR: #336699; FONT-STYLE: BOLD; TEXT-DECORATION: NONE }
A:hover { COLOR: Red; FONT-STYLE: BOLD }
*/
	
	ul.bullet { list-style-position: outside; list-style-image: url("/media/images/bulletSquare.gif"); }
	
	.subhead { color: #3366CC; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 11pt; font-weight: bold; }

	.nav { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.nav:link { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.nav:hover { color : #4878D8; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.navblock:hover { background-color: #000000; }
	
	.date { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.intro { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 11pt; font-weight: normal; }
	
	.newstitle { color : #476194; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.newstitle:link { color : #476194; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.newstitle:hover { color : #476194; text-decoration : underline; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	
	.news { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: normal; }
	
	.pageTitle { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 15pt; font-weight: bold; }	
	.sectionTitle { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 13pt; font-weight: bold; }	
	.courseTitle { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 15pt; font-weight: bold; }	
	.blueTitle { color : #2E6ADE; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 11pt; font-weight: bold; }	
	
	.courseProgress { color : #000000; background-color: A9C0E7; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.courseProgress:link { color : #000000; background-color: A9C0E7; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.courseProgress:hover { color : #2E6ADE; background-color: A9C0E7; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	
	.courseProgressH { color : #FFFFFF; background-color: 2E6ADE;  text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.courseProgressH:link { color : #FFFFFF; background-color: 2E6ADE; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.courseProgressH:hover { color : #FFFFFF; background-color: 2E6ADE; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	
	.footer { color : #FFFFFF; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: normal; }
	.footer:link { color : #FFFFFF; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: normal; }
	.footer:hover { color : #FFFFFF; text-decoration : underline; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: normal; }
	
	.userInfo { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }


.ActiveTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #476194;/* #6099D2 */ }
.PendingTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #F37F33; }
.ArchivedTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #5CB352; }


.rowHidden {visibility: hidden; display: none; }
.rowVisible {visibility: visible; display:run-in;}

.reportHeaderColor1 { background-color: #6099D2; }
.reportHeaderColor1b { background-color: #94C0EC; }
.reportHeaderColor2 { background-color: #4A84BD;}

.reportHeaderText { font-size: 10pt; line-height: 10pt; color: white; font-weight: bold; text-align:center; text-decoration: none; }
.reportHeaderTextBlack { font-size: 10pt; line-height: 10pt; color: black; font-weight: bold; text-align:center; text-decoration: none; }

.row1 { background-color: #EAEAEA; }
.row2 { background-color: #FFFFFF; }

.rowText { font-size: 8pt; line-height: 12pt; text-decoration: none; }
.rowText: hover { text-decoration: none; }

</style>
