	BODY { font-family : Arial, Verdana, Geneva, Helvetica, sans-serif; font-size : 9pt; color: #000000;  font-weight : normal;}
	TD { font-family : Arial, Verdana, Geneva, Helvetica, sans-serif; font-size : 9pt; color: #000000; font-weight : normal;}
/* 	A { color : #FF6600; text-decoration : none; } */
	A { color: #1759D9; text-decoration: none; }
	A:hover { color : #D97217; text-decoration : underline; }
	B { font-weight: bold; }
	
	ul.bullet { list-style-position: outside; list-style-image: url("/media/images/bulletSquare.gif"); } 
	
	.small 	 { font-family : Arial, Verdana, Geneva, Helvetica, sans-serif; font-size :7.5pt; color: #535558; font-weight : normal;}
	.subhead { color: #3366CC; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 11pt; font-weight: bold; }

	.nav { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.nav:link { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.nav:hover { color : #4878D8; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.navblock:hover { background-color: #000000; }
	
	.date { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.intro { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 11pt; font-weight: normal; }
	
	.newstitle { color : #476194; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.newstitle:link { color : #476194; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.newstitle:hover { color : #476194; text-decoration : underline; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	
	.news { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: normal; }
	
	.pageTitle { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 15pt; font-weight: bold; }	
	.sectionTitle { color : #ffffff; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 13pt; font-weight: bold; }	
	.sectionTitleBlack { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 13pt; font-weight: bold; }	
	.courseTitle { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 15pt; font-weight: bold; }	
	.blueTitle { color : #1759D9; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 13pt; font-weight: bold; }	

	.smallTitle { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 10pt; font-weight: bold; }	
	.smallTitle:link { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 10pt; font-weight: bold; }	
	.smallTitle:visited { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 10pt; font-weight: bold; }	
	.smallTitle:hover { color : #D97217; text-decoration : underline; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 10pt; font-weight: bold; }	

	
	.alert30days { color : #cc0000; text-decoration : none; }	
	.alert60days { color : #ff8400; text-decoration : none; }
	.alert90days { color : #1759d9; text-decoration : none; }
	.alertneg60days { color : #666666; text-decoration : none; }

	.error { color : #cc0000; font-weight : bold; }	

	.formreqstar { color: #cc0000; text-decoration: none; font-weight: bold;}
	.formreqheading { color: #000000; text-align: right; text-decoration: none; font-weight: bold; }
	.formheading { color: #000000; text-align: right; text-decoration: none; font-weight: normal; }

	.courseProgress { color : #000000; background-color: A9C0E7; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.courseProgress:link { color : #000000; background-color: A9C0E7; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.courseProgress:hover { color : #2E6ADE; background-color: A9C0E7; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	
	.courseProgressH { color : #FFFFFF; background-color: 2E6ADE;  text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.courseProgressH:link { color : #FFFFFF; background-color: 2E6ADE; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	.courseProgressH:hover { color : #FFFFFF; background-color: 2E6ADE; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }
	
	.footer { color : #1852C4; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: normal; }
	.footer:link { color : #1852C4; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: normal; }
	.footer:hover { color : #D97217; text-decoration : underline; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: normal; }
	
	.userInfo { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 9pt; font-weight: bold; }

	.bckNav		{ background-color: #ffffff; background-image: url(/media/images/bck_nav.gif); background-repeat: repeat; }
	.bckMain	{ background-color: #F2F2F4; border: 1px solid #7D8BA8; }
	.bckBox		{ background-color: #ffffff; border: 1px solid #7D8BA8; }
	.bckGray	{ background-color: #999999; }
	.bckLtGray	{ background-color: #EEEEEE; }
	.bckLtGrayBottomBorder	{ background-color: #EEEEEE; border-bottom: 1px solid #7D8BA8;}
	.bckWhiteBottomBorder	{ background-color: #ffffff; border-bottom: 1px solid #7D8BA8;}
	.bckWhiteTopBorder	{ background-color: #ffffff; border-top: 1px solid #7D8BA8;}
	.bckBlueBottomBorder	{ background-color: #3373EF; border-bottom: 1px solid #7D8BA8;}
	.border		{ background-color: #7D8BA8; }
	.bckFtr		{ background-color: #D6E3FC; background-image: url(/media/images/bck_ftr.gif); background-repeat: repeat-y; }
	.bckLeft	{ background-color: #E3ECFD; background-image: url(/media/images/bck_left.gif); background-repeat: repeat-x; }
	.bckRight	{ background-color: #FBFDFF; background-image: url(/media/images/bck_right.gif); background-repeat: repeat-x; }
	.bckRightWhiteBottomBorder	{ background-color: #FBFDFF; background-image: url(/media/images/bck_right.gif); background-repeat: repeat-x; border-bottom: 1px solid #7D8BA8; }
	.bckBlue	{ background-color: #3373EF; }
	
	.bckHomeGradient {
		background-color: #ffffff;
		background-image: url(/media/images/homegradient.gif);
		background-repeat: repeat-x;
	}

	.bckEditBox	{ background-color: #eaeaea; border: 1px solid #000000; }
	
	
	
.ActiveTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #476194; /* #6099D2; */ }
.PendingTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #F37F33; }
.ArchivedTitle { font-family: Trebuchet MS, Arial, Verdana; font-size: 12pt; font-style: normal; line-height: 12pt; font-weight: bold; color: #5CB352; }


.rowHidden {visibility: hidden; display: none; }
.rowVisible {visibility: visible; /* display:run-in; */}

.reportHeaderColor1 { background-color: #6099D2; }
.reportHeaderColor1b { background-color: #94C0EC; }
.reportHeaderColor2 { background-color: #4A84BD;}

.reportHeaderText { font-size: 10pt; line-height: 10pt; color: white; font-weight: bold; text-align:center; text-decoration: none; }
.reportHeaderTextBlack { font-size: 10pt; line-height: 10pt; color: black; font-weight: bold; text-align:center; text-decoration: none; }

.row1 { background-color: #EAEAEA; }
.row2 { background-color: #FFFFFF; }

.newrow1 {  }
.newrow2 { background-color: #ffffff; }

.rowText { font-size: 8pt; line-height: 12pt; text-decoration: none; }
.rowText:hover { text-decoration: none; }

.greyedLink:link { color: #999999; text-decoration: none; }
.greyedLink:hover { color: #999999; text-decoration: underline; }
.greyedLink:visited { color: #999999; text-decoration: none; }


	.frontNav { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 11pt; font-weight: normal; }
	.frontNav:link { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 11pt; font-weight: normal; }
	.frontNav:hover { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 11pt; font-weight: normal; }
.frontNav:visited { color : #000000; text-decoration : none; font-family : Arial, Verdana, Geneva,  Helvetica, sans-serif; font-size : 11pt; font-weight: normal; }